body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(249, 247, 244);
}
a {
  font-weight: 600;
  text-decoration: none;
}
a:hover {
  color: #ef4b6f;
}
button {
  background-color: #95e9e9;
  border-radius: 10px;
  border: 2px solid #272343;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px;
}
button:hover {
  color: #ef4b6f;
}
footer {
  font-style: italic;
  margin: 50px;
}
h1,
h2,
h3,
h4 {
  color: #272343;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}
h1,
h2,
h3,
p,
a,
ul,
li {
  color: #272343;
}
h1 {
  font-weight: 800;
}
h2 {
  line-height: 1.5;
  width: 100%;
}
h3 {
  font-weight: 400;
}
h4 {
  font-size: 30px;
  font-weight: 600;
}
h5 {
  font-size: 30px;
  text-decoration: underline;
}

li {
  line-height: 2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 740px) {
  .homepage-header {
    font-size: 50px;
  }
  .homepage-description {
    font-size: 20px;
  }
  .usernames {
    font-size: 15px;
  }
}
.aboutme {
  line-height: 1.5;
  list-style: disc;
  font-size: 20px;
}

.contact-button {
  background-color: #95e9e9;
  border-radius: 10px;
  border: 2px solid #272343;
  color: #272343;
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 150px;
}
.homepage {
  background: #def0f0;
}
.homepage-header {
  font-size: 96px;
}
.homepage-description {
  margin: 20px;
  padding: 10px;
}

.firstex,
.thirdex {
  background-color: #def0f0;
}
.firstex,
.thirdex,
.secondex {
  padding: 20px;
}
.contact {
  display: flex;
  justify-content: center;
}
.contact-me {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.usernames {
  font-size: 25px;
  padding: 30px;
}
