body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(249, 247, 244);
}
h1,
h2,
h3 {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  padding: 20px;
  font-weight: 800;
}
h2 {
  text-align: center;
  line-height: 1.5;
  width: 100%;
  padding: 20px;
}
h3 {
  text-align: center;
  padding: 20px;
  font-weight: 400;
}

footer {
  position: relative;
  bottom: 2px;
}

.homepage-header {
  font-size: 96px;
}

.contact {
  display: flex;
  justify-content: center;
}
.contact-me {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.usernames {
  padding: 30px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
